* {
    margin: auto;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    width: 90%;
}
.header, .main, .footer {
    width: 100%;
    background-image: linear-gradient(100deg, rgb(226, 240, 98), rgb(255, 76, 124) );
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.header-inner {
    width: 100%;
    text-align: center;
}

.main-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 2px ;
}

.card {
    position: relative;
    margin: 30px;
    /* float: left; */
    width: 19%;
    justify-content: space-between;
    background-color:lemonchiffon
}


body{
    background-image: linear-gradient(100deg, rgb(143, 205, 140),rgb(210, 238, 250), rgb(233, 115, 186));
    width: 1000px;
    height: 1000px;
}

.card:hover {
    font-style: italic;
}

 .card:hover .card-title{
    width: 40%;
 }

.header:hover{
    box-shadow: 0px 0px 43px 22px rgb(55, 54, 52);
}


.footer-inner {
    display: flex;
    flex-wrap: wrap;
    width: 30%s;
    padding: 10px;
}
