h2{
    margin: 0;
}

.table {
    width: 700px;
    text-align: center;
}
h1{
    text-align: center;
}
body{
    background-image: linear-gradient(ghostwhite,  tan, plum);
    width: 800px;
    height: 750px;
}
h1:hover{
    font-style: italic;
}
.footer:hover{
    font-style: italic;
}



